@charset "UTF-8";
input:valid {
	border-left: 4px solid green !important;
}
input:invalid {
	border-left: 4px solid red !important;
}
.video-container {
    margin-top: 10px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

video, canvas {
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 10px;
}