@charset "UTF-8";
input:valid {
	border-left: 4px solid green !important;
}
input:invalid {
	border-left: 4px solid red !important;
}
.video-container {
    margin-top: 10px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

video, canvas {
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 10px;
}

/*Fuentes de letra*/
@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Greek-Freak';
    src: url('../fonts/Greek-Freak.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body, h1, h2, h3, h4, h5, h6, p, span, div  {
    font-family: 'Cinzel', sans-serif;
    background-color: #EEF7FE;
    color: #103957;
}

/*Icono Home*/
.icono-navbar {
  padding: 0px !important;
  margin-left: 8px;
  height: 65x;
  width: 65px;
  vertical-align: middle;
}

.w3-bar {
  background-color: #FFFFFF !important;
}

.w3-bar {
    width: 100%;
    overflow: hidden;
    height: 100%;
    align-items: center;
    display: flex;
}

.w3-bar .w3-bar-item {
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}